.galerie__card{
    background-image: url(../assets/img/galerie/IMGCOMU.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 20vw;
    height: 18vw;
    margin-bottom: 10%;
}

.galerie__card a{
    &:first-of-type{
        float: right;
        margin-right: 5%;
        margin-top: 5%;
    
    }
    &:nth-of-type(2){
        float: right;
        margin-top: 75%;
        margin-right: -7%;
        margin-bottom: 5%;
    }
}

.galerie__description{
    width: 30%;
    margin-left: 12.5%;
}

.galerie__galerie{
    display: grid;
    grid-template-columns: repeat(3);
    grid-auto-columns: 20%;
    grid-column-gap: 12.5%;
    margin-left: 12.5%;
    margin-top: 10%;
}

.galerie__col1{
    grid-column: 1;
}

.galerie__col2{
    grid-column: 2;
}

.galerie__col3{
    grid-column: 3;
}

.galerie__plus{
    color: $colorAction;
    text-decoration: none;
}

.ToiAussiPerso{
    display: grid;
    grid-template-columns: repeat(2);
    grid-auto-columns: 20% 50%;
    grid-column-gap: 10%;
    margin-left: 12.5%;
    margin-top: 10%;
}

.galerieAussi__col1{
    grid-column: 1;
    justify-content: center;
    align-items: center;
    padding-top: 40%;
}

.galerieAussi__col1 h1{
    font-weight: 600;
    margin-bottom: 5%;
}

.galerieAussi__col1 img{
    width: 100%;
}

.galerieAussi__col2{
    grid-column: 2;
}