
.perso__menu{
    display: flex;
    margin-left: 5%;
    margin-top: 5%;
    line-height: 3vh;
}

.nom-etape{
    margin-left: 5%;
}

.numero-etape{
    margin-left: 7%;
}

.fleche-perso{
    margin-left: 7%;
}

.choix-custo{
    display: flex;
    text-decoration: none;
    justify-content: center;
    width: 25%;
    align-items: center;
}

.choix-custo h3{
    margin-left: 10%;
}

.menu-choix-custo{
    display: flex;
    align-items: center;
    margin-top: 1.5%;
    justify-content: center;
}

.perso__btn-terminer a{
    margin-left: 1%;
}

.perso__btn-terminer{
    justify-content: center;
    display: flex;
}

.perso__layer2{
    display: grid;
    grid-template-columns: repeat(3);
    grid-auto-columns: 20% 60% 20%;
    margin-bottom: 5%;
}

.perso__menu{
    grid-column: 1;
    align-items: center;
}

.perso__layer2-milieu{
    grid-column: 2;
}

.perso__btn-terminer{
    grid-column: 3;
}

.perso__btn-terminer a{
    margin-left: 2%;
}

.perso-reset{
    margin-top: 5%;
    margin-right: 10%;
    width: 7%;
}
.timeline {
    width : 70%;
    margin: auto;
    display: flex;
    align-items:flex-start;
    hr {
        width: 63%;
        position: absolute;
        margin: 0.62% 0 0 4%;
        border: 1px solid black;
        background-color: black;
        z-index: -1;
    }
}

.timeline__point {
    margin: auto;
    margin-top: 0;
    img {
        border-left: 4px solid white;
        border-right: 4px solid white;
        border-radius: 50%;
        background-color: white;
    }
}

.-inactif {
    margin-top: 0.4% ;
}

.-actif img{
    margin-left: 20% ;
    margin-top: 1%;
}
/* partie infoPartagePrix */
.infoPartagePrix{
    display: flex;
    justify-content: space-between;
    margin: 2vmax;
}

.infoPartagePrix_informations{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 20vw;
}

.informations_prix{
    line-height: pxToRem(32);
    font-size: 1.25vw;
    font-weight: 700;
    color: $colorTitle;
}

.inspiration_texte{
    font-weight: 500;
    font-size: 1vw;
    line-height: pxToRem(47);
    color: white;
    text-align: center;
}

/*test bulle */
.infoPartagePrix_inspiration{
    background:$bleuVert;
    padding:0px 10px;
    border-radius:1.2vw;
    border-bottom-left-radius: initial;
    width:12vw;
    height: 5vh;
}



/* partie inspiration */
#inspiPerso{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 5%;
}

.bulle{
    text-decoration: none;
}

.inspiPerso_texte{
    flex-direction: column;
    width: 17vw;
}

.inspiPerso_paragraphe{
    margin-bottom: 10%;
    margin-top: 5%;
}

.inspiPerso_btn{
    margin-top: 2%;
    padding: 1rem 0.925rem 1rem 1.8rem;
    transition: width 0.5s ease-in-out;
}

.inspiPerso_btn:hover{
    transition: width 0.5s ease-in-out;
    width: 100%;
}

.inspiPerso_image{
    width: 40%;
}