.timeline {
    width : 70%;
    margin: auto;
    display: flex;
    align-items:flex-start;
    hr {
        width: 63%;
        position: absolute;
        margin: 0.62% 0 0 4%;
        border: 1px solid black;
        background-color: black;
        z-index: -1;
    }
}

.timeline__point {
    margin: auto;
    margin-top: 0;
    img {
        border-left: 4px solid white;
        border-right: 4px solid white;
        border-radius: 50%;
        background-color: white;
    }
}

.-inactif {
    margin-top: 0.4% ;
}

.-actif img{
    margin-left: 20% ;
    margin-top: 1%;
}