header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__navigation{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
}

.header__image{
    margin: 9px 32px ;
}

.header__logo{
    height : 5vw;   
}

.header__icone{
    fill: $colorTitle;
}

.-icone{
    border-radius: 100%;
    padding: 0.4vw 0 0 0;
    width: 3vw;
    height: 3vw;
    text-align: center;
    &:hover {
        background-color: #6970FF;
        svg {
            fill : white;
        }
        transition: 1s;
    }
}

.header__lien{
    text-decoration: none;
    font-family: $fontFamily; 
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
}

.-principal{
    background-color: $colorAction;
    height: 41px;
    width: 154px; 
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FAF8FF;
    border-radius: 15px;
    font-size: $rootFontSize + px;
    &:hover {
        background : $horizontalGradient;
        transition: 0.3s;
        
    }
}