h1,h2,h3{
    color: $colorTitle;
}

.titlePage {
    margin: 10%;
}

.titlePage p, .titlePage h1 {
    font-size: 2.8vw; 
    font-weight: 900;
    line-height: 0em;
}

.titlePage__1 {
    color: $colorActionSecond;
    margin-left: 0px;
    margin-top: -6px;
}

.titlePage__2 {
    color: $bleuFluo;
    margin-left: 3px;
    margin-top: -3px;
}

.titlePage__3 {
    color: $colorTitle;
    margin-left: 6px;
    margin-top: -3px;
}

//______


h1{
    font-weight: 900;
    font-size: 2vw;
}

h2{
    font-size: 1.625vw;
}

h3{
    font-size: 1.25vw;
}

h4{
    font-size: 1.1vw;
}