.section1__video {
    width: 100vw;
    height: 100vh;
    border: none;
    object-fit: cover;

}

.chevronEtrange{
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -10vh;
    width: 100vw;
}