@use 'sass:math';


// Foundation
@import "foundation/variables";
@import "foundation/functions";
@import "foundation/grid";
@import "foundation/mixin";

// Elements
@import "elements/text";
@import "elements/title";
@import "elements/input";
@import "elements/header";
@import "elements/footer";
@import "elements/btn";
@import "elements/videoHeader";
@import "elements/persoVroum";
@import "elements/timeline";
@import "elements/modele-card";

// Components
@import "components/nav";
@import "components/perso";
@import "components/connexion";

// Utilities

body::-webkit-scrollbar {
    background-color: $colorTitle;
    width: 10px;
}

body::-webkit-scrollbar-track {
    background-color: $colorBackground;
}

body::-webkit-scrollbar-thumb {
    background-color: $colorTitle;
    border: none;
}

body::-webkit-scrollbar-button {
    display:none;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: $fontFamily;
}