* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

// Foundation
@import "foundation/variables";
@import "foundation/functions";
@import "foundation/grid";

// Elements
@import "elements/text";
@import "elements/title";
@import "elements/input";

// Components
@import "components/nav";

// Utilities