@use 'sass:math';

// Foundation
@import "foundation/variables";
@import "foundation/functions";
@import "foundation/grid";

// Elements
@import "elements/text";
@import "elements/title";
@import "elements/input";
@import "elements/header";
@import "elements/footer";
@import "elements/btn";
@import "elements/videoHeader";

// Components
@import "components/nav";

// Utilities

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: $fontFamily;
}